@import 'variables';

// Ejemplo de una clase parcial SASS que puede ser usada en cualquier componente
.btn-sass-custom {
  background-color: $primary-color;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
  
  &:hover {
    background-color: darken($primary-color, 10%);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}
